# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Reports
automation-reports/
Automation/reports/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db